.comments-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
   
    width: 80vw;
    height: 70%;
    overflow: hidden;
    overflow-y: scroll;
    padding: 16px;
    
}

.comments-list::-webkit-scrollbar { 
    display: none; 
}