.comments-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    width: 80%;
    height: 70%;
    overflow: hidden;
    overflow-y: scroll;
    
}

.comments-list::-webkit-scrollbar { 
    display: none; 
}